[Desktop Entry]
Categories=Application;System;Settings
Comment=Minecraft chinese input helper
Encoding=UTF-8
Exec=/usr/bin/minecraft-input-helper
Icon=minecraft
Name=Minecraft Input Helper
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false