[Desktop Entry]
Categories=Utility;
Comment=Minecraft chinese input helper
Exec=/usr/bin/minecraft-input-helper
Icon=minecraft
Name=Minecraft Input Helper
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
